.status {
    display: inline-block;
    border: 1px solid lightblue;
    margin: 10px;
}

.button {
    padding: 10px;
    margin-top: 10px;
    outline: none;
    border: none;
    font-size: 16px;
    background-color: lightblue;
    color: #001;
    display: block;
}

.editor-wrap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.editor_edit,
.marked-container_preview {
    flex: 1;
    flex-basis: 50%;
    height: 500px;
}

.marked-container_preview {
    border: 1px solid lightblue;
    background-color: #000;
    color: #fff;
}